---
---

<article class="bg-blue-950/20 backdrop-blur-sm border border-blue-500/30 rounded-2xl p-6">
    <h3 class=" block text-center text-3xl font-bold mb-2">Backend & Databases</h3>
    <hr class="w-3/4 mx-auto border-blue-500/50 mb-2">
    <ul class="w-5/6 mx-auto grid grid-cols-3 p-4 gap-6">
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-blue-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/python_logo.webp" alt="logo-tecnologia">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-blue-400 transition-colors">Python</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-white/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/flask_logo.webp" alt="logo-tecnologia">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-white transition-colors">Flask</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-orange-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/java_logo.webp" alt="logo-tecnologia">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-orange-400 transition-colors">Java</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-blue-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer overflow-hidden">
                <img src="/Images/Logos/Postgres.webp" alt="logo-tecnologia" class="w-full h-full object-contain">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-blue-400 transition-colors">PostgreSQL</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-blue-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/Sqlite.webp" alt="logo-tecnologia">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-blue-400 transition-colors">SQLite</span>
        </li>
        
    </ul>
</article>