---
---

<article class="bg-blue-950/20 backdrop-blur-sm border border-blue-500/30 rounded-2xl p-6">
    <h3 class=" block text-center text-3xl font-bold mb-2">Frontend & Diseño</h3>
    <hr class="w-3/4 mx-auto border-blue-500/50 mb-2">
    <ul class="w-5/6 mx-auto grid grid-cols-3 p-4 gap-6">
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-blue-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/React-icon.svg.webp" alt="">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-blue-400 transition-colors">React</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-blue-600/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/Typescript.webp" alt="">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-blue-500 transition-colors">Typescript</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-blue-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/Tailwind.webp" alt="">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-blue-400 transition-colors">Tailwind CSS</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-orange-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer overflow-hidden">
                <img src="/Images/Logos/astro-icon-dark.webp" alt="" class="w-full h-full object-contain">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-orange-400 transition-colors">Astro</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-orange-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/HTML5_logo.webp" alt="">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-orange-400 transition-colors">HTML</span>
        </li>
        <li class="flex items-center flex-col group">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-blue-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer overflow-hidden">
                <img src="/Images/Logos/CSS_logo.webp" alt="CSS" class="w-full h-full object-contain"/>
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-blue-400 transition-colors">CSS</span>
        </li>
        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-yellow-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/JavaScript-Symbol.webp" class="scale-175" alt="">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-yellow-400 transition-colors">Javascript</span>
        </li>

        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-gray-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer overflow-hidden">
                <img src="/Images/Logos/Figma.webp" class="w-full h-full object-contain" alt="">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-gray-400 transition-colors">Figma</span>
        </li>

        <li class="flex items-center flex-col group ">
            <div class="w-12 h-12 md:w-24 md:h-24 bg-white/5 backdrop-blur-sm flex items-center p-2 border-gray-500 border rounded-3xl group-hover:border-purple-500/50 group-hover:shadow-[0_0_15px_rgba(59,130,246,0.2)] cursor-pointer object-contain">
                <img src="/Images/Logos/Excalidraw.webp" alt="">
            </div>
            <span class="text-sm font-medium text-white/70 group-hover:text-purple-400 transition-colors">Excalidraw</span>
        </li>
    </ul>
</article>