---
---

<section id="sobre-mi" class="min-h-[30vh] flex items-center">
    <div class="w-full my-4 px-4   ">
        <h3 class="text-center py-8 text-5xl font-bold tracking-widest bg-linear-to-r from-white to-blue-400 bg-clip-text text-transparent drop-shadow-[0_0_10px_rgba(96,165,250,0.5)] [text-shadow:0_0_15px_rgba(96,165,250,0.3)]">Sobre mí</h3>
        <p class="md:max-w-7xl text-lg text-pretty leading-relaxed text-white/90 text-center mx-auto">
        Soy <span class="text-blue-400 font-semibold">Técnico Universitario en Informática</span> con una sólida base académica y una pasión por el desarrollo <span class="text-blue-400 font-semibold">Frontend</span> que he cultivado de forma autodidacta. 
        Lo que me define por encima de todo es mi <span class="italic text-white underline decoration-blue-500/50 underline-offset-4">compromiso</span>: me involucro al 100% en cada proyecto para asegurar que las soluciones no solo se vean bien, sino que resuelvan problemas del mundo real. 
        <br><br>
        Mi formación se extiende a campos de vanguardia, contando con conocimientos en <span class="text-blue-400 font-semibold">Machine Learning, Redes Neuronales Recurrentes (RNN) y LLM</span>. Junto a mi experiencia en <span class="text-blue-400 font-semibold">Backend, Bases de Datos, Gestión de Proyectos y Testing</span>, poseo una visión integral del ciclo de vida del software que me permite colaborar eficazmente en equipos multidisciplinarios.
        </p>
    </div>
</section>