---
---

<header>
    <nav class="py-2">
        <div class="mx-4 flex justify-between items-center h-16">
            <div class=" w-26 md:w-48">
                <img src="/Images/Logo/Logo.webp" alt="Logo">
            </div>

            <ul class="flex justify-between gap-2 md:gap-10">
                <li><a href="#sobre-mi" class="text-[.65rem] md:text-xl font-bold">Sobre mi</a>
                </li>
                <li><a href="#skills" class="text-[.65rem] md:text-xl font-bold">Skills</a>
                </li>
                <li><a href="#educacion" class="text-[.65rem] md:text-xl font-bold">Educacion</a>
                </li>
                <li><a href="#proyectos" class="text-[.65rem] md:text-xl font-bold">Proyectos</a>
                </li>
                <li><a href="#contactame" class="text-[.65rem] md:text-xl font-bold">Contactame</a>
                </li>
            </ul>
        </div>
    </nav>
</header>