---
---

<article class="bg-blue-950/20 backdrop-blur-sm border border-blue-500/30 p-1 rounded-3xl group flex flex-col h-full relative">
    
    <div class="absolute top-5 right-5 z-30 pointer-events-none">
        <span class="bg-yellow-500/20 backdrop-blur-md border border-yellow-500/50 text-white text-[10px] uppercase tracking-widest font-black px-3 py-1 rounded-lg shadow-lg">
            En desarrollo
        </span>
    </div>

    <div class="rounded-2xl overflow-hidden border border-white/10 z-10">
        <img src="/Images/En-desarrollo.png" class="w-full object-cover transition-transform duration-500 group-hover:scale-105" alt="BodyFlow">
    </div>
    
    <h4 class="text-2xl font-bold py-3 pl-3">BodyFlow</h4>
    
    <div class="px-3 flex flex-wrap gap-3 py-2">
        <span class="text-xs text-center bg-yellow-500/5 border border-yellow-600/20 text-yellow-500 px-3 py-1 rounded-xl font-bold">React</span>
        <span class="text-xs text-center bg-yellow-500/5 border border-yellow-600/20 text-yellow-500 px-3 py-1 rounded-xl font-bold">Typescript</span>
        <span class="text-xs text-center bg-yellow-500/5 border border-yellow-600/20 text-yellow-500 px-3 py-1 rounded-xl font-bold">Python</span>
    </div>
    
    <p class="text-left px-3 text-white/80 pb-6">Plataforma integral para la digitalizaci칩n de rutinas y gesti칩n de entrenamientos con acceso r치pido mediante QR.</p>

    <div class="grid grid-cols-2 gap-3 mt-auto mb-4 w-full px-4 max-w-md mx-auto italic">
        <span class="block text-center text-white/30 text-[10px] border border-white/5 py-2 rounded-xl bg-white/5">
            Demo no disponible
        </span>
        <span class="block text-center text-yellow-500/50 text-[10px] border border-yellow-500/10 py-2 rounded-xl bg-yellow-500/5 animate-pulse">
            Pr칩ximamente
        </span>
    </div>
</article>